@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.container {
  max-width: 500px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
    content: "" ;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: black;
}

form .Employe-Details .input-box{
       margin-bottom: 15px;
}
.Employe-Details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.Employe-Details .input-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    transition: all 0.3s ease;
}
.Employe-Details .input-box input:focus,
.Employe-Details .input-box input:valid{
    border-color: #000000;
}



