

  .cardbox{
   position:absolute;
   top:16%;
   width:75%;
   margin-left:200px;
  
  }
   .cardbox{
  position:fixed;
  top:10%;
  float:left;

}
  .container1{
    padding: 25px;
    position:absolute;
    top:14%;
    left:25%;
    width:70%;
    background-color: white;
    
}